.header{
    height: 40px;
    width: 100%;
    background-color: #7e7e7e7e;
    display: flex;
    justify-content: space-between;

    &-logo{
        display: flex;
        &-container{
            height: 36px;
            width: 120px;
            box-sizing: border-box;
            border-radius: 8px;
            display: block;
            text-align: center;
            color: #404040;
            background-color: #ffffff75;
            top: 2px;
            position: relative;

            .jelly{
                height: 36px;
                width: 36px;
                display: block;
                background: url('../../public/assets/jellyBlack.svg') no-repeat;
                margin: auto;
            }
        }
    }

    &-about{
        margin: 2px;

        > span{
            height: 36px;
            width: 120px;
            box-sizing: border-box;
            border-radius: 8px;
            display: block;
            text-align: center;
            color: #404040;
            background-color: #ffffff75;
            top: 2px;
            position: relative;
        }

    }
}
.hamburger{
    background: url('../../public/assets/hamburger.svg') no-repeat;
    height: 36px;
    width: 36px;
    display: block;
}