
.cover{
    height: calc(100% - 40px);
    min-height: 1406px;
    background: #9191917d;
    box-sizing: border-box;
    padding: 36px;
    position: relative;

    &-letter{
        width: 595px;
        height: 842px;
        min-width: 940px;
        min-height: 1330px;
        margin: auto;
        background: #fff;
        box-sizing: border-box;

    }
}